<section class="bg-neutral-900 rounded-lg p-4 gap-3 flex flex-col min-w-[300px] h-full mt-10">
    <p class="font-bold">Filtra por Genero</p>
    <div class="flex flex-col  text-sm text-gray-300">
        <button class="w-full bg-slate-800 py-2 rounded border-b text-start border-slate-700  px-3 hover:bg-slate-700">
            Horror
        </button>
        <button class="w-full bg-slate-800 py-2 rounded border-b text-start border-slate-700  px-3 hover:bg-slate-700">
            Horror
        </button>
        <button class="w-full bg-slate-800 py-2 rounded border-b text-start border-slate-700  px-3 hover:bg-slate-700">
            Horror
        </button>
        <button class="w-full bg-slate-800 py-2 rounded border-b text-start border-slate-700  px-3 hover:bg-slate-700">
            Horror
        </button>
     
    </div>
</section>